#characters {
    width: 25%;
    height: 25%
  }

  #characterSection {
    background-color: #f9d977;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .abilities {
    text-align: left;
    color: #f9d977;
    font-size: x-large;
    padding-left: 2%;
  }

  .designNotes {
    text-align: left;
    color: #f9d977;
    font-size: x-large;
    padding-left: 2%;
  }

  .designHeaders {
    text-align: left;
    color: #f9d977;
    font-size: xx-large;
    padding-left: 2%;
  }

  [id^='characters_'] {
    width: 100%;
  }

  [id^='spells_']  {
    width: 100%;
  }

  [id^='heroes_']  {
    width: 100%;
  }

  [id^='treasures_']  {
    width: 100%;
  }

  body {
    background-color: #130e37;
  }

h1 {
    text-align: center;
    color: #f9d977;
    font-size: 100px;
  }

  h2 {
    text-align: center;
    color: #f9d977;
    font-size: 50px;
    text-decoration-line: underline;
  }

  p {
    text-align: center;
    color: #f9d977;

  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }

  a {
    color: #FFFF;
  }